<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/5">
  <div class="max-w-xs rounded-2xl border-l-4 border-opacity-50 <%= event.end_time.past? ? "border-gray-500" : "border-orange-400" %> overflow-hidden shadow-lg hover:shadow-2xl">
    <%= link_to event do %>
      <% if event.image.present? %>
        <div class="bg-white rounded-t-lg overflow-hidden mb-2">
          <%= image_tag(event.image) %>
        </div>
      <% end %>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-center">
          <%= event.title %>
        </div>
        <p class="text-gray-700 text-base">
          <%= current_page?(root_url) ? event.description.truncate_words(10) : event.description %>
        </p>
        <br>
          <div class="grid text-gray-700">
          <%= event.location %>
          </div>
        <br>
        <p class="text-gray-700 text-base">
          <%= event.start_time.strftime("%B %d, %Y") %>
        </p>
      </div>
    <% end %>
  </div>
</div>
