

<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  <div class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-2xl">
<%= link_to event do %>
    <img class="w-full" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">
        <%= event.title %>
      </div>
      <p class="text-gray-700 text-base">
        <%= event.description %>
      </p>
      <br>
      <p class="text-gray-700 text-base">
        Location:
        <%= event.location %>
      </p>
      <br>
      <p class="text-gray-700 text-base">
        <%= event.start_time.strftime("%B %d, %Y") %>
      </p>
    </div>
<% end %>
  </div>
</div>
