<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" /></svg></div>
          <div>
            <p class="notice"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
          <div class="py-1">
            <svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
            </svg>
          </div>
          <div>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="header-2 h-24 ">
      <nav class="bg-white py-2 md:py-4">
        <div class="container px-4 mx-auto md:flex md:items-center">
          <div class="flex justify-between items-center">
            <%= link_to root_path, class: "font-bold text-xl text-teal-800", data: { turbo: false} do %>
              <h1 class="align-middle text-4xl font-extrabold bg-gradient-to-r from-teal-400 to-blue-800 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-4 py-2 rounded">Events</h1>
            <% end %>
            <button type="button" id="navbar-toggle" class="md:hidden bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-800" aria-expanded="false" :aria-expanded="open.toString()">
              <span class="sr-only">Open menu</span>
              <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
          </div>
          <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
            <% if user_signed_in? %>
              <div class="dropdown inline-block relative">
                <button class="p-2 lg:px-4 md:mx-2 bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-4 py-2 rounded inline-flex items-center">
                  <span class="mr-1"><%= current_user.email %></span>
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                </button>
                <ul class="dropdown-menu hidden text-gray-700 pt-1">
                  <div class="absolute p-2 w-full inline-block" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <li role="menuitem" tabindex="-1" id="menu-item-0">
                      <%= link_to "My Profile", edit_user_registration_path, class:"bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold py-2 px-4 block whitespace-no-wrap" %>
                    </li>
                    <li role="menuitem" tabindex="-1" id="menu-item-1">
                      <%= link_to "My Events", user_events_path(current_user.id), class:"rounded-b bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold py-2 px-4 block whitespace-no-wrap" %>
                    </li>
                  </ul>
                </div>
              </div>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"p-2 lg:px-4 md:mx-2 text-teal-600 text-center border border-solid border-teal-800 rounded hover:bg-teal-800 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1" %>
            <% else %>
              <%= link_to 'Log In', new_user_session_path, class: "p-2 lg:px-4 md:mx-2 text-teal-600 text-center border border-transparent rounded hover:bg-teal-100 hover:text-teal-800 transition-colors duration-300" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "p-2 lg:px-4 md:mx-2 text-teal-600 text-center border border-solid border-teal-800 rounded hover:bg-teal-800 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1" %>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
